<h3 class="section-title">Portfolio</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <p class="company">{{ job.company }}</p>
        </dt><!--
        --><dd>
            <p>{{ job.description }}</p>
                <img src="img/{{job.img1}}" class="img" alt="">
                <img src="img/{{job.img2}}" class="img" alt="">
                <img src="img/{{job.img3}}" class="img" alt="">
        </dd>
    {% endfor %}
</dl>
